# Backend environment variables example
# In Render -> Environment -> Add Environment Variables:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gp5ayhl.mongodb.net/PreparationOS?retryWrites=true&w=majority
# PORT=3001
MONGODB_URI=
PORT=3001
